:root {
  --bg-color: #313131;
  --form-color: #2c2c2c;
  --primary-color: #ffe0b2;
  --notes-color: #607d8b;
}

body {
  background-color: var(--bg-color);
}
.notes-page {
  width: 100%;
  min-height: 100vh;
  color: whitesmoke;
}
.notes-page header {
  background-color: #242424;
  max-width: 1920px;
  min-height: 80px;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 5px #31313142;
}
a {
  text-decoration: none;
  color: whitesmoke;
}
.notes-page header .logo {
  letter-spacing: 2px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img {
  height: 50px;
  margin-right: 0.5rem;
}

.notes-page header ul li {
  list-style: none;
  display: inline-block;
  padding: 0 15px;
}
.notes-page header ul li a {
  opacity: 0.7;
}
.notes-page header ul li a:hover {
  opacity: 1;
}
.notes-page section {
  width: 100%;
  padding: 20px 0;
}
.note-wrapper {
  max-width: 1820px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.card {
  width: 300px;
  border: none;
  border-radius: 10px;
  background: var(--notes-color);
  padding: 10px;
  position: relative;
  color: #eceff1;
  margin: 15px;
  cursor: pointer;
  height: fit-content;
}
.card .close {
  position: absolute;
  top: 0;
  right: 10px;
  font-weight: 900;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: #eceff1;
  margin-right: 6px;
  margin-top: 7px;
}
.card h3 {
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card .text-wrapper {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
  margin: 10px 0;
  color: #eceff1;
}
.card .date {
  text-align: right;
  color: #eceff1;
}
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
}

.card-footer .link {
  border-radius: 5px;
  background-color: #ffcc80;
  color: #424242;
  padding: 10px 15px;
  font-weight: 700;
}
/* ******* Create Note******************* */
.create-note {
  max-width: 500px;
  width: 100%;
  margin: auto;
  background-color: var(--form-color);
  border-radius: 20px;
  padding: 30px;
  box-shadow: #ccc;
}
.create-note h2 {
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 10px 0;
}
.create-note .row {
  width: 100%;
  margin: 10px 0;
}

.create-note button {
  width: 100%;
  height: 40px;
  padding: 0 5px;
}

.create-note input {
  width: 100%;
  height: 40px;
  padding: 20px;

  border: 0px;
  border-radius: 10px;
  background-color: #5252526e;
  color: white;
}

textarea {
  width: 100%;
  padding: 100px;
  border: 0px;
  border-radius: 10px;
  background-color: #5252526e;
  color: white;
}

textarea:focus {
  outline: none;
}

.create-note label {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}
.create-note textarea {
  width: 100%;
  resize: none;
  padding: 0 5px;
}
.create-note button {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  color: rgb(7, 25, 63);
}
@media (max-width: 500px) {
  * {
    padding: 0 4px;
  }

  .create-note {
    padding: 15px;
    border: none;
  }
}

/* *********Login / Register******* */
.login-page {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.login input,
.register input {
  margin-bottom: 15px;
  border: 0px;
  border-radius: 10px;
  padding: 20px;
  background-color: #5252526e;
  color: white;
}

input:focus {
  outline: none;
}

.login,
.register {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--form-color);
}
.login-page h2,
.login-page h3 {
  color: #fff8;
}
.login-page h3 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 15px;
}
.login-page p {
  margin: 10px 0;
  color: white;
}
.login-page span {
  color: var(--primary-color);
  cursor: pointer;
}

form > p {
  align-items: center;
}

button {
  background-color: #ffd9a1;
  border: none;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  background: #f8c579;
  border-radius: 0;
}
